@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container">
    <div class="row">
        <div class="col">One</div>
        <div class="col">Two</div>
        <div class="col">Three</div>
    </div>
    <div class="row">
        <div class="col">Four</div>
        <div class="col">Five</div>
        <div class="col">Six</div>
    </div>
    <div class="row">
        <div class="col">Seven</div>
        <div class="col">Eight</div>
        <div class="col">Nine</div>
    </div>
</div>

